.skeletonCard {
  width: 200px;
  margin: 10px;
  text-align: center;
}

.skeletonPoster, .skeletonTitle {
  background-color: #e0e0e0;
  animation: pulse 1.5s infinite;
}

.skeletonPoster {
  width: 200px;
  height: 300px;
  border-radius: 8px;
}

.skeletonTitle {
  width: 80%;
  height: 20px;
  margin: 10px auto;
  border-radius: 4px;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
